{% extends "nodeb/base.html" %}

{% load static %}

{% block additional_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'nodeb/css/style.css' %}" />

<script type="text/javascript">
    //global variable to be used from newsite.js script
    var NewSitePlan = {
        'ajax_url': "{% url 'nodeb:nodebajax' %}",
        'static_url': '{% static "nodeb/" %}'
    };
</script>

{% endblock %}


{% block navigation %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'nodeb:nodeb-plan' %}">Home</a></li>
        <li><a href="{% url 'nodeb:search' %}">Search</a></li>
        <li class="active"><a href="#">About</a></li>
        <li><a href="{% url 'nodeb:io' %}">Import/Export</a></li>
        <li><a href="#">Rehome</a></li>
    </ul>
{% endblock %}

{% block container %}
    <div class="page-header">
        <h3>Statistical analysis</h3>
    </div>

    <ul class="nav nav-tabs secondary_navigation">
        <li tab="ucell_data" class="active" ><a href="#">Ucell</a></li>
        <li tab="spu_data" ><a href="#">SPU Information</a></li>
        <li tab="recently_planned" ><a href="#">Recent Plans</a></li>
    </ul>

    <div id="ucell_data" class="well well-lg nav_details">
        <ul>
            <li> Database Last Updated: {{ context.ucell.last_updated }} by {{ context.ucell.updated_by }}</li>
            <li> RNC No: {{ context.ucell.rnc_count }}  </li>
            <li> Nodeb No: {{ context.ucell.site_count }} </li>
        </ul>
    </div>

    <div id="spu_data" class="well well-lg display_none nav_details">
        <ul>
            <li> Database Last Updated: {{ context.spu.last_updated }} by {{ context.spu.updated_by }} </li>
            <li> HW RNC Count: {{ context.spu.rnc_count }} </li>
        </ul>
    </div>

    <div id="recently_planned" class="well well-lg display_none nav_details">

        <table class="table">
            <thead>
                <tr>
                    <th>Site</th><th>Lat, Lon</th><th>RNC</th><th>LAC</th><th>RAC</th><th>URA</th>
                    <th>RNC IP</th><th>Plan Date</th><th>Plan by</th>
                </tr>
            </thead>
            <tbody id="recently_planned_body"> </tbody>
        </table>
    </div>


{% endblock %}

{% block additional_footer %}
    <!-- javascript -->
    <script src="{% static 'nodeb/js/about.js' %}"></script>
{% endblock %}