{% extends "nodeb/base.html" %}

{% load static %}


{% block additional_headers %}
    <script type="text/javascript">
        //global variable to be used from newsite.js script
        var NodebPlanIO = {
            'ajax_url': '{% url "nodeb:io" %}',
            'static_url': '{% static "nodeb/" %}'
        };
    </script>
{% endblock %}

{% block navigation %}
 <ul class="nav navbar-nav">
    <li><a href="{% url 'nodeb:nodeb-plan' %}">Home</a></li>
    <li><a href="{% url 'nodeb:search' %}">Search</a></li>
    <li><a href="{% url 'nodeb:about' %}">About</a></li>
    <li class="active" ><a href="{% url 'nodeb:io' %}">Import/Export</a></li>
    <li><a href="#">Rehome</a></li>
 </ul>

{% endblock %}

{% block container %}
<div class="page-header">
    <h3>Data Import & Export</h3>
</div>

<div class="well well-lg">
    <h3>Instructions for Import</h3>
    <ul>
        <li>Both xlsx & xls files are supported.</li>
        <li>Every cell might not have any garbage ( e.g #NA ) or empty values.</li>
        <li>Data might be kept in active sheet (sheet1) and also make sure sheet name is sheet1</li>
        <li><strong>Update UCELL: </strong>Existing records will be updated based on provided data and new records will be added.</li>
        <li><strong>New UCELL: </strong>Existing records will be deleted instantly and all records will be added.</li>
        <li><strong>SPU:</strong> Existing records will be updated based on provided data and new records will be added </li>
        <li>Sample Files:
            <a href="{% static 'nodeb/sample/Sample_Ucell.xls' %}">Sample Ucell</a>,
            <a href="{% static 'nodeb/sample/SPU_INFO_UPDATED.xlsx' %}">Sample SPU</a>
        </li>
    </ul>
    <h3>Instructions for Export</h3>
    <ul>
        <li>Please click on the links to download.</li>
        <li>  Downloads:
            <a target="_blank" href="{% url 'nodeb:download' 'spu' %}">SPU</a>,
            <a target="_blank" href="{% url 'nodeb:download' 'latlon' %}">Co-Ordinates</a>,
            <a target="_blank" href="{% url 'nodeb:download' 'ucell' %}">UCELL</a>
        </li>
    </ul>
</div>

<div class="progress" style="display: none;">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
  aria-valuemin="0" aria-valuemax="100" style="width:30%">
    30%
  </div>
</div>

<div class="alert alert-success fade in display_none">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Gcell</strong>: <span id="success_message"> </span>
</div>

<p id="ajax_processing_message" class="lead display_none"><code> Please wait until success message  </code></p>

<form id="ioform" action="{% url 'nodeb:io' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <table class="table-sm">
        <tr>
            <td>
                <label for="iofile" class="custom-file">
                    <input id="iofile" class="custom-file-input btn" type="file" name="{{ context.form.file.name }}">
                </label>
            </td>
             <td>
                <label for="id_type"> Type </label>
                    {{ context.form.type }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input id="submit_button" style="height: 100%" class="btn btn-primary" type="submit" value="Start Uploading" />
                <img id="upload_progress" class="display_none" alt="ajax_loader" src="{% static 'newsite/images/facebook.gif' %}" />
            </td>
        </tr>
    </table>
</form>

{% endblock %}

{% block additional_footer %}
    <!-- javascript -->
    <script src="{% static 'nodeb/js/io.js' %}"></script>
    <script src="{% static 'nodeb/js/lib/jquery-cookie.js' %}"></script>
    <script src="{% static 'nodeb/js/lib/jquery.form.min.js' %}"></script>
{% endblock %}