{% extends "nodeb/base.html" %}

{% load static %}

{% block additional_headers %}

    <link rel="stylesheet" type="text/css" href="{% static 'nodeb/css/style.css' %}" />
    <script type="text/javascript">
        //global variable to be used from newsite.js script
        var NewSitePlan = {
            'ajax_url': "{% url 'nodeb:nodebajax' %}",
            'static_url': '{% static "nodeb/" %}'
        };
    </script>
{% endblock %}

{% block navigation %}

    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="{% url 'nodeb:search' %}">Search</a></li>
        <li><a href="{% url 'nodeb:about' %}">About</a></li>
       <li><a href="{% url 'nodeb:io' %}">Import/Export</a></li>
        <li><a href="#">Rehome</a></li>
    </ul>

{% endblock %}

{% block container %}


    <form action="{% url 'nodeb:nodeb-plan' %}" method="post">
        {% csrf_token %}
        <table class="table table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>CNP WR</th>
                    <th>IPwave WR</th>
                    <th>Lat</th><th>Lon</th>
                    <th>Site</th>
                    <th>Vendor</th>
                    <th>Nearest Site</th>
                    <th>Planned RNC</th>
                    <th>LAC</th>
                    <th>RAC</th>
                    <th>PLMN</th>
                    <th>URA</th>
                    <th>Distance </th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody table-hover>
                {% for ss in data %}
                <tr id="{{ ss.ipwavewr }}-{{ forloop.counter }}">
                    <td class="cnp_wr"> <input type="hidden" name="{{ form.cnp_wr.name }}" value="{{ ss.cnpwr }}"  >{{ ss.cnpwr }} </td>
                    <td class="ipwave_wr"> <input type="hidden" name="{{ form.ipwave_wr.name }}" value="{{ ss.ipwavewr }}"  > {{ ss.ipwavewr }} </td>
                    <td class="input_lat"> <input type="hidden" name="{{ form.lat.name }}" value="{{ ss.lat }}"> {{ ss.lat }} </td>
                    <td class="input_lon"> <input type="hidden" name="{{ form.lon.name }}" value="{{ ss.lon }}"> {{ ss.lon }} </td>
                    <td class="input_site"> <input type="hidden" name="{{ form.site.name }}" value="{{ ss.site }}" > {{ ss.site }} </td>
                    <td class="input_vendor"> <input type="hidden" name="{{ form.vendor.name }}" value="{{ ss.vendor }}" /> {{ ss.vendor }} </td>
                    <td class="nearest_site"> {{ ss.nearest_site }} </td>
                    <td class="proposed_rnc"> <input type="hidden" name="{{ form.rnc.name }}" value="{{ ss.proposed_rnc }}"  > <span> {{ ss.proposed_rnc }} </span> </td>
                    <td class="proposed_lac"> <input type="hidden" name="{{ form.lac.name }}" value="{{ ss.proposed_lac }}"  > <span> {{ ss.proposed_lac }} </span> </td>
                    <td class="proposed_rac"> <input type="hidden" name="{{ form.rac.name }}" value="{{ ss.proposed_rac }}"  > <span> {{ ss.proposed_rac }} </span> </td>
                    <td class="proposed_plmn"> <input type="hidden" name="{{ form.plmn.name }}" value="{{ ss.proposed_plmn }}"  > <span> {{ ss.proposed_plmn }} </span> </td>
                    <td class="proposed_ura"> <input type="hidden" name="{{ form.ura.name }}" value="{{ ss.proposed_ura }}"  > <span> {{ ss.proposed_ura }} </span> </td>
                    <td class="nearest_site_distance"> {{ ss.distance }} </td>
                    <td> <button name="{{ ss.ipwavewr }}-{{ forloop.counter }}" class="btn btn-default justify-individual-plan">Update </button> <img class="ajax_loader display_none" src="{% static 'nodeb/images/facebook.gif' %}" /> </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="14">
                        <a href="{% url 'nodeb:nodeb-plan' %}"><input type="button" value="Upload another file" class="btn btn-link" /> </a>&nbsp; &nbsp; <input class="btn-primary btn" type="submit" value="Save and Download Plan" />
                    </th>
                </tr>
            </tfoot>
        </table>
    </form>

    <div id="map"></div>
{% endblock %}

{% block additional_footer %}
    <!-- javascript -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGiluMgQFfw2abMSw4_KCEqNvxszjoQVk">
    </script>
    <script src="{% static 'nodeb/js/map.js' %}"></script>
{% endblock %}