{% extends "newsite/base.html" %}

{% load static %}


{% block additional_headers %}

    <link rel="stylesheet" type="text/css" href="{% static 'nodeb/css/style.css' %}" />
    <script type="text/javascript">
        //global variable to be used from newsite.js script
        var Search = {
            'ajax_url': '{% url "nodeb:search" %}',
            'static_url': '{% static "nodeb/" %}'
        };
    </script>
{% endblock %}


{% block navigation %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'nodeb:nodeb-plan' %}">Home</a></li>
        <li  class="active"><a href="{% url 'nodeb:search' %}">Search</a></li>
        <li><a href="{% url 'nodeb:about' %}">About</a></li>
        <li><a href="{% url 'nodeb:io' %}">Import/Export</a></li>
        <li><a href="#">Rehome</a></li>
    </ul>
{% endblock %}

{% block container %}
    <div class="page-header">
        <h3>Search</h3>
    </div>

<div id="gcell_data" class="well well-lg search-box">
    <ul>
        <li> Site Search: Only type sitename ( e.g: SITE1W ) </li>
        <li> Lat, Lon Search: comma separated value (e.g: Lat, Lon )</li>
    </ul>
    <form action="{% url 'nodeb:search' %}" method="GET">
        <h3>
            <input name="{{ context.form.s.name }}" type="text" >
            <input id="search_sites" type="button" class="btn btn-primary" value="Search">
        </h3>
    </form>
</div>

 <div id="map"></div>

{% endblock %}

{% block additional_footer %}
    <!-- javascript -->

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGiluMgQFfw2abMSw4_KCEqNvxszjoQVk">
    </script>
    <script src="{% static 'nodeb/js/search.js' %}"></script>
{% endblock %}