#map{
    height: 600px;
    width: 100%;
    margin: 20px 0px 100px 0px;
    padding: 50px;
}

.display_none{
    display: none;
}

.processing{
   cursor: wait;
}


#login-dp {
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 250px;
    overflow: hidden;
    padding: 14px 14px 0;
}

.navbar-right .dropdown-menu {
    left: auto;
    right: 0;
}