<!doctype html>
<html lang="en">

{% load static %}

<head>
	<meta charset="utf-8" />
	<link rel="shortcut icon" href="{% static 'igw/images/favicon.ico' %}" type="image/x-icon">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{ context.title }}</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />




    <!-- Ajax & static url defining -->
    <script type="text/javascript">
        //global variable to be used from newsite.js script
        var IGW = {
            'ajax_url': "{% url 'igw:ajax' %}",
            'static_url': '{% static "igw/" %}'
        };
    </script>


    <!-- Bootstrap core CSS     -->
    <link href="{% static 'igw/light-bootstrap-dashboard-v1.4.0/assets/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static 'igw/light-bootstrap-dashboard-v1.4.0/assets/css/animate.min.css' %}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static 'igw/light-bootstrap-dashboard-v1.4.0/assets/css/light-bootstrap-dashboard.css' %}" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <!-- <link href="{% static 'igw/light-bootstrap-dashboard-v1.4.0/assets/css/demo.css' %}" rel="stylesheet" /> -->


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'igw/light-bootstrap-dashboard-v1.4.0/assets/css/pe-icon-7-stroke.css' %}" rel="stylesheet" />

    <!-- highchart CSS -->
    <link href="{% static 'igw/highchart-6.0.4/highcharts.css' %}" rel="stylesheet" />

    {% block additional_headers %}
    {% endblock %}

</head>
<body>

<div class="wrapper">

    <div class="sidebar" data-color="azure" data-image="{% static 'igw/light-bootstrap-dashboard-v1.4.0/assets/img/sidebar-5.jpg' %}">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->



    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="{% url 'igw:dashboard' %}" class="simple-text">
                    IGW
                </a>
            </div>

            <ul class="nav">
                {% block navigation %}
                {% endblock %}
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
								<p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="#">
                               <p>Account</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Log out</p>
                            </a>
                        </li>
						<li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                {% block container %}
                {% endblock %}
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-left">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://10.7.140.168:9000/">CNP</a>, made with love!
                </p>
            </div>
        </footer>

    </div>
</div>




    <!--   Core JS Files   -->
    <script src="{% static 'igw/light-bootstrap-dashboard-v1.4.0/assets/js/jquery.3.2.1.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'igw/light-bootstrap-dashboard-v1.4.0/assets/js/bootstrap.min.js' %}" type="text/javascript"></script>

	<!--  Charts Plugin -->
	<!-- <script src="{% static 'igw/light-bootstrap-dashboard-v1.4.0/assets/js/chartist.min.js' %}"></script> -->

    <!--  Notifications Plugin    -->
    <script src="{% static 'igw/light-bootstrap-dashboard-v1.4.0/assets/js/bootstrap-notify.js' %}"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="{% static 'igw/light-bootstrap-dashboard-v1.4.0/assets/js/light-bootstrap-dashboard.js' %}"></script>


    {% block additional_script %}
    {% endblock %}


	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<!-- <script src="{% static 'igw/light-bootstrap-dashboard-v1.4.0/assets/js/demo.js' %}"></script> -->





	<script type="text/javascript">
    	$(document).ready(function(){

        	//demo.initChartist();

        	$.notify({
            	icon: 'pe-7s-gift',
            	message: "Welcome to <b> Internet Gateway Reporting </b>"

            },{
                type: 'info',
                timer: 4000
            });

    	});
	</script>


</body>

</html>
