{% extends "igw/base-light-bootstrap.html" %}
{% load static %}



{% block container %}

<style type="text/css">
    div.iig_container{
        padding: 10px;
        background-color: rgba(63, 74, 84, 0.13);
    }
</style>

<div style="height: 350px;" id="iig_container_1" class="ct-chart iig_container"></div>
<div style="height: 350px" id="iig_container_2" class="ct-chart iig_container"></div>
<div style="height: 350px" id="iig_container_3" class="ct-chart iig_container"></div>
<div style="height: 350px" id="iig_container_4" class="ct-chart iig_container"></div>
<div style="height: 350px" id="iig_container_5" class="ct-chart iig_container"></div>

{% endblock %}

{% block additional_script %}
        <!-- highcart javascripts -->
    <script src="{% static 'igw/highchart-6.0.4/highcharts.js' %}"></script>
    <!-- <script src="{% static 'igw/highchart-6.0.4/highcharts-3d.js' %}"></script> -->
    <script src="{% static 'igw/highchart-6.0.4/modules/series-label.js' %}"></script>
    <script src="{% static 'igw/highchart-6.0.4/modules/exporting.js' %}"></script>
    <!-- <script src="{% static 'igw/highchart-6.0.4/themes/sand-signika.js' %}"></script> -->

    <script type="text/javascript" src="{% static 'igw/js/dashboard.js' %}"></script>
{% endblock %}