{% extends "igw/base-light-bootstrap.html" %}
{% load static %}

{% block navigation %}
    <li>
        <a href="{% url 'igw:dashboard' %}">
            <i class="pe-7s-graph"></i>
            <p>Dashboard</p>
        </a>
    </li>
    <li class="active">
        <a href="{% url 'igw:iig' %}">
            <i class="pe-7s-science"></i>
            <p>IIG</p>
        </a>
    </li>

    <li>
        <a href="{% url 'igw:ix' %}">
            <i class="pe-7s-note2"></i>
            <p>BD-IX & NOVO-NIX</p>
        </a>
    </li>

     <li>
        <a href="{% url 'igw:cdn' %}">
            <i class="pe-7s-news-paper"></i>
            <p>CDN</p>
        </a>
    </li>
    <li>
        <a href="{% url 'igw:io' %}">
            <i class="pe-7s-server"></i>
            <p>IMPORT/EXPORT</p>
        </a>
    </li>

{% endblock %}


{% block container %}

<style type="text/css">

    div.iig_container{
        padding: 10px;
        background-color: rgba(63, 74, 84, 0.13);
    }

</style>



<div style="height: 450px;" id="iig_container_1" class="ct-chart iig_container"></div>
<div style="height: 450px" id="iig_container_2" class="ct-chart iig_container"></div>
<div style="height: 450px" id="iig_container_3" class="ct-chart iig_container"></div>
<div style="height: 450px" id="iig_container_4" class="ct-chart iig_container"></div>
<div style="height: 450px" id="iig_container_5" class="ct-chart iig_container"></div>
<div style="height: 450px" id="iig_container_6" class="ct-chart iig_container"></div>

{% endblock %}

{% block additional_script %}
        <!-- highcart javascripts -->
    <script src="{% static 'igw/highchart-6.0.4/highcharts.js' %}"></script>
    <!-- <script src="{% static 'igw/highchart-6.0.4/highcharts-3d.js' %}"></script> -->
    <script src="{% static 'igw/highchart-6.0.4/modules/series-label.js' %}"></script>
    <script src="{% static 'igw/highchart-6.0.4/modules/exporting.js' %}"></script>
    <!-- <script src="{% static 'igw/highchart-6.0.4/themes/sand-signika.js' %}"></script> -->

    <script type="text/javascript" src="{% static 'igw/js/iig-dashboard.js' %}"></script>
{% endblock %}