{% extends "igw/base-light-bootstrap.html" %}
{% load static %}

{% block additional_headers %}

    <!-- bootstrap date picker csss -->
    <link rel="stylesheet" href="{% static 'igw/bootstrap-datepicker3/bootstrap-datepicker3.css' %}"/>

{% endblock %}



{% block navigation %}
    <li>
        <a href="{% url 'igw:dashboard' %}">
            <i class="pe-7s-graph"></i>
            <p>Dashboard</p>
        </a>
    </li>
    <li>
        <a href="{% url 'igw:iig' %}">
            <i class="pe-7s-science"></i>
            <p>IIG</p>
        </a>
    </li>

    <li>
        <a href="{% url 'igw:ix' %}">
            <i class="pe-7s-note2"></i>
            <p>BD-IX & NOVO-NIX</p>
        </a>
    </li>

     <li>
        <a href="{% url 'igw:cdn' %}">
            <i class="pe-7s-news-paper"></i>
            <p>CDN</p>
        </a>
    </li>
    <li  class="active">
        <a href="">
            <i class="pe-7s-server"></i>
            <p>IMPORT/EXPORT</p>
        </a>
    </li>

{% endblock %}


{% block container %}

<style type="text/css">

    div.iig_container{
        padding: 10px;
        background-color: rgba(63, 74, 84, 0.13);
    }

</style>

<div class="well well-lg">
    <h3>Export</h3>
    <ul>
        <li>Please pick a from date & a to date. </li>
        <li>Date format should be "YYYY-MM-DD".  </li>
    </ul>
    <form id="iig-export-form" method="post" action="{% url 'igw:io' %}">
        {% csrf_token %}
        <table class="table table-sm table-striped table-hover table-bordered">
            <tr>
                <td>
                    <label for="startDate">
                        <input id="startDate" value="" type="text" name="startDate" placeholder="From">
                    </label>
                </td>
                <td>
                    <label for="endDate">
                        <input id="endDate" value="" type="text" name="endDate" placeholder="To">
                    </label>
                </td>
                <td>  <input id="submit_button" style="height: 100%" class="btn btn-primary" type="button" value="Export" />  </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>

            </tr>
        </table>
    </form>

</div>

<div class="well well-lg">
    <h3>Import</h3>
    <ul>
        <li>Both xlsx & xls files are supported.</li>
        <li>Every cell might not have any garbage ( e.g #NA ) or empty values.</li>
        <li>Existing records will be updated based on date & vendor information.</li>

        <li>Sample Files:
            <a href="{}">Sample Throughput</a> &
            <a href="{}">Sample Subscription</a>
        </li>
    </ul>

    <p id="ajax_processing_message" class="lead display_none"><code> Please wait until success message  </code></p>
    <table class="table table-sm table-striped table-hover table-bordered">
        <tr>
            <td> <input type="file" name="input_file"></td>
            <td>
               <label for="radio_one"> <input id="radio_one" type="radio" name="file_type" value="throughput"> Daily peak Throughput</label></label>  <br/>
               <label for="radio_tow"> <input id="radio_tow" type="radio" name="file_type" value="sub"> Subscription</label>
            </td>
            <td>  <input style="height: 100%" class="btn btn-primary" type="submit" value="Import" />  </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>

</div>


{% endblock %}

{% block additional_script %}
    <script type="text/javascript" src="{% static 'igw/js/io-dashboard.js' %}"></script>
        <!-- bootstrap date picker javascript -->
    <script type="text/javascript" src="{% static 'igw/bootstrap-datepicker3/bootstrap-datepicker.min.js' %}" > </script>

{% endblock %}