{% extends "igw/base-light-bootstrap.html" %}
{% load static %}

{% block additional_headers %}

{% endblock %}



{% block navigation %}
    <li>
        <a href="{% url 'igw:dashboard' %}">
            <i class="pe-7s-graph"></i>
            <p>Dashboard</p>
        </a>
    </li>
    <li>
        <a href="{% url 'igw:iig' %}">
            <i class="pe-7s-science"></i>
            <p>IIG</p>
        </a>
    </li>

    <li>
        <a href="{% url 'igw:ix' %}">
            <i class="pe-7s-note2"></i>
            <p>BD-IX & NOVO-NIX</p>
        </a>
    </li>

     <li>
        <a href="{% url 'igw:cdn' %}">
            <i class="pe-7s-news-paper"></i>
            <p>CDN</p>
        </a>
    </li>
    <li>
        <a href="{% url 'igw:io' %}">
            <i class="pe-7s-server"></i>
            <p>IMPORT/EXPORT</p>
        </a>
    </li>
    <li  class="active">
        <a href="{% url 'igw:ip' %}">
            <i class="pe-7s-global"></i>
            <p>Public IP</p>
        </a>
    </li>

{% endblock %}


{% block container %}

<style type="text/css">

    div.iig_container{
        padding: 10px;
        background-color: rgba(63, 74, 84, 0.13);
    }

</style>

<div class="well well-lg">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Site</th>
        <th scope="col">IP</th>
        <th scope="col">Planned IIG</th>
        <th scope="col">BGP Path</th>
        <th scope="col">Update Time</th>
      </tr>
    </thead>
    <tbody>
      {% for ip in context.ip  %}
        <tr  title="{{ ip.bgp_meta }}" style="cursor: pointer">
          <th scope="row">{{ ip.index }}</th>
          <td>{{ ip.site }}</td>
          <td>{{ ip.ip }}</td>
          <td>{{ ip.iig }}</td>
          <td>{{ ip.bgp_path }} </td>
          <td>{{ ip.date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
{% block additional_script %}
{% endblock %}
