h3 {
    font: 400 40px/1.2 'Merienda One', Helvetica, sans-serif;
    color: rgba(0,0,0,0.7);
    text-shadow: 3px 3px 3px #fff;
}

.comic {
    font: 400 30px/1.2 'Merienda One', Helvetica, sans-serif;
    color: rgba(0,0,0,0.7);
    text-shadow: 3px 3px 3px #fff;
}


body{
    background-image: url("../images/Background-Images.jpg");
}

body, a {
    color: floralwhite;
    font-size: 16px;
}

.sitemap{
    padding: 5px;
}

.footer{
    background: inherit;
}
.text-muted{
     color: floralwhite;
}