{% extends "report/base.html" %}

{% load static %}

{% block additional_headers %}
    <script src="{% static 'report/js/jquery3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'report/highchart/highchart5.0.10.js' %}"></script>
    <!-- bootstrap date picker csss -->
    <link rel="stylesheet" href="{% static 'report/bootstrap-datepicker3/bootstrap-datepicker3.css' %}"/>

    <style type="text/css">
        div.map_container{
            padding: 5px;
            background-color: rgba(63, 74, 84, 0.13);
        }
    </style>

<script type="text/javascript">

    var Report = {
        'hourlytraffic': '{% url "report:hourlytraffic" %}'
    };

    function pyjson_to_jsjson( pyjson ){
        var myDjangoList = ((pyjson).replace(/&(l|g|quo)t;/g, function(a,b){
            return {
                l   : '<',
                g   : '>',
                quo : '"'
            }[b];
        }));

        myDjangoList = myDjangoList.replace(/u'/g, '\'');
        myDjangoList = myDjangoList.replace(/'/g, '\"');
        return myDjangoList;
    }

    function draw_map(data){
        //dataDay1 = pyjson_to_jsjson("{{ context.day1 }}");
        //dataDay1 = $.parseJSON(dataDay1);

        Highcharts.chart(data.container, {
            chart: {
                type: 'line'
            },
            credits: {
                enabled: false,
            },
            title: {
                text: data.title
            },
            subtitle: {
                text: data.subtitle
            },
            xAxis: {
                title:{
                    text: data.x
                },
                categories: data.categories
            },
            yAxis: {
                title: {
                    text: data.y
                },
                max: data.y_max
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true,
                        allowOverlap: true,
                        rotation: -90,
                        format: data.format,
                        y: -30
                    },
                    enableMouseTracking: true,

                }
            },
            series: [{
                showInLegend: false,
                name: data.series.name,
                data: data.series.data,
                tooltip: {
                    valueSuffix: ' ' + data.series.tooltip
                }
            }],
             exporting: {
                enabled: true
            }
        });
    }

    jQuery(document).ready(function ($) {
        cs_data = pyjson_to_jsjson("{{ context.day1 }}");
        ps_data = pyjson_to_jsjson("{{ context.throughput }}");
        lte_data = pyjson_to_jsjson("{{ context.sgi_throughput }}")
        ps_data = $.parseJSON(ps_data);
        cs_data = $.parseJSON(cs_data);
        lte_data = $.parseJSON(lte_data);

        maps = [
            {
                'title': 'Hourly Network Traffic',
                'subtitle': "Date: " + cs_data.day,
                'container': 'container1',
                'x': 'Hour',
                'y': 'Traffic ( kErl )',
                'y_max': 2600,
                'categories': cs_data.hour,
                'format': '{point.y:.1f}',
                'series': {
                    'name': cs_data.day,
                    'data': cs_data.traffic,
                    'tooltip': 'kErl'
                }
            },
            {
                'title': 'Hourly Network Throughput',
                'subtitle': "Date: " + ps_data.day,
                'container': 'container2',
                'x': 'Hour',
                'y': 'Througput ( Gbps )',
                'y_max': 300,
                'categories': ps_data.hour,
                'format': '{point.y:.2f}',
                'series': {
                    'name': ps_data.day,
                    'data': ps_data.throughput,
                    'tooltip': 'Gbps'
                }
            },
            {
                'title': 'Hourly LTE Throughput',
                'subtitle': "Date: " + lte_data.day,
                'container': 'container3',
                'x': 'Hour',
                'y': 'Througput ( Gbps )',
                'y_max': 50,
                'categories': lte_data.hour,
                'format': '{point.y:.2f}',
                'series': {
                    'name': lte_data.day,
                    'data': lte_data.throughput,
                    'tooltip': 'Gbps'
                }
            }

        ];

         $.each(maps, function (i, map) {
             draw_map(map);
         });

    })
</script>

{% endblock %}

{% block navigation %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'report:hourlytraffic' %}">Hourly Traffic</a></li>
        <li><a href="{% url 'report:summarytraffic' %}">Summary Traffic</a></li>
        <li><a href="{% url 'report:volumetraffic' %}">Volume Traffic</a></li>
        <li><a href="{% url 'report:throughput' %}">Daily Traffic</a></li>
        <li><a href="{% url 'report:overshoot' %}">Overshoot</a></li>
        <li><a href="{% url 'report:io' %}">Import/Export</a></li>
    </ul>
{% endblock %}

{% block container %}


    <div class="well search-box" style="text-align: right">
        <label for="start_date" style="text-align: left">
            <input value="{{ context.selected_day }}"  id="start_date" class="span2 col-md form-control" name="startDate" placeholder=" YYYY-MM-DD " type="text">
        </label> &nbsp;&nbsp;

        <label for="generate_report">
            <input id="generate_report" type="button" class="btn btn-primary span2 col-md form-control" value="Generate Report">
        </label>
    </div>

    <div class="map_container" id="container1" style="width:100%; height:400px;"></div>
    <div class="map_container" id="container2" style="width:100%; height:400px;"></div>
    <div class="map_container" id="container3" style="width:100%; height:400px;"></div>

    <div>&nbsp;</div>
{% endblock %}

{% block additional_footer %}


    <script type="text/javascript" src="{% static 'report/js/hourly_traffic.js' %}" > </script>
    <!-- bootstrap date picker javascript -->
    <script type="text/javascript" src="{% static 'report/bootstrap-datepicker3/bootstrap-datepicker.min.js' %}" > </script>
{% endblock %}
