{% extends "report/base.html" %}

{% load static %}

{% block additional_headers %}
    <script type="text/javascript">
        //global variable to be used from newsite.js script
        var ReportIO = {
            'ajax_url': '{% url "report:io" %}',
            'static_url': '{% static "report/" %}'
        };
    </script>
{% endblock %}


{% block navigation %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'report:hourlytraffic' %}">Hourly Traffic</a></li>
        <li><a href="{% url 'report:summarytraffic' %}">Summary Traffic</a></li>
        <li><a href="{% url 'report:volumetraffic' %}">Volume Traffic</a></li>
        <li><a href="{% url 'report:throughput' %}">Daily Traffic</a></li>
        <li><a href="{% url 'report:overshoot' %}">Overshoot</a></li>
        <li class="active"><a href="{% url 'report:io' %}">Import/Export</a></li>
    </ul>
{% endblock %}

{% block container %}
    <div class="page-header">
        <h3>Data Import & Export</h3>
    </div>

    <div class="well well-lg">
        <h3>Instructions</h3>
        <ul>
            <li>Both xlsx & xls files are supported.</li>
            <li>Every cell might not have any garbage ( e.g #NA ) or empty values.</li>
            <li>Sample Files:
                <a href="{% static 'report/sample/MSS_data.xlsx' %}">Summary Traffic</a>,
                <a href="{% static 'report/sample/GGSN_volume_throughput.xlsx' %}">GGSN Volume & Throughput</a>,
                <a href="{% static 'report/sample/15_mins_data.xlsx' %}"> 15 Minutes Traffic </a>
            </li>
            <li>Existing record will be updated immediately & it cannot be revoked</li>
        </ul>
    </div>

    <div class="progress" style="display: none;">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
      aria-valuemin="0" aria-valuemax="100" style="width:30%">
        30%
      </div>
    </div>

    <div class="alert alert-success fade in display_none">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong> Summary Traffic </strong>: <span id="success_message"> </span>
    </div>

    <p id="ajax_processing_message" class="lead display_none"><code> Please wait until success message  </code></p>

    <form id="ioform" action="{% url 'report:io' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <table class="table-sm">
            <tr>
                <td>
                    <label for="iofile" class="custom-file">
                        <input id="iofile" class="custom-file-input btn" type="file" name="{{ context.form.file.name }}">
                    </label>
                </td>
                 <td>
                    <label for="id_type"> Type </label>
                        {{ context.form.type }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input id="submit_button" style="height: 100%" class="btn btn-primary" type="submit" value="Start Uploading" />
                    <img id="upload_progress" class="display_none" alt="ajax_loader" src="{% static 'report/images/facebook.gif' %}" />
                </td>
            </tr>
        </table>
    </form>

{% endblock %}

{% block additional_footer %}
    <!-- javascript -->
    <script src="{% static 'report/js/jquery3.1.1.min.js' %}"></script>
    <script src="{% static 'report/js/io.js' %}"></script>
    <script src="{% static 'report/js/lib/jquery-cookie.js' %}"></script>
    <script src="{% static 'report/js/lib/jquery.form.min.js' %}"></script>
{% endblock %}