{% extends "report/base.html" %}

{% load static %}

{% block additional_headers %}
    <script type="text/javascript">
        var Report = {
            'hourlytraffic': '{% url "report:hourlytraffic" %}',
            'traffic': '{% url "report:traffic" %}',
            'volumetraffic': '{% url "report:volumetraffic" %}',
            'overshoot': '{% url "report:overshoot" %}'
        };
    </script>

    <style type="text/css">
        div.map_container{
            padding: 5px;
            background-color: rgba(63, 74, 84, 0.13);
        }
    </style>

{% endblock %}

{% block navigation %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'report:hourlytraffic' %}">Hourly Traffic</a></li>
        <li><a href="{% url 'report:summarytraffic' %}">Summary Traffic</a></li>
        <li><a href="{% url 'report:volumetraffic' %}">Volume Traffic</a></li>
        <li><a href="{% url 'report:throughput' %}">Daily Traffic</a></li>
        <li class="active"><a href="{% url 'report:overshoot' %}">Overshoot</a></li>
        <li><a href="{% url 'report:io' %}">Import/Export</a></li>
    </ul>
{% endblock %}

{% block container %}
    <div  class="map_container" id="container_1" style="width:100%; height: 500px;"></div>
    <div  class="map_container" id="container_2" style="width:100%; height: 1300px"></div>

{% endblock %}

{% block additional_footer %}

    <script type="text/javascript" src="{% static 'report/highchart/highchart5.0.10.js' %}"></script>
    <script type="application/javascript" src="{% static 'report/highchart/moduleexporting5.0.11.js' %}"></script>
    <script type="text/javascript" src="{% static 'report/js/overshoot.js' %}" > </script>

{% endblock %}
