{% extends "report/base.html" %}

{% load static %}

{% block additional_headers %}

    <!-- bootstrap date picker csss -->
    <link rel="stylesheet" href="{% static 'report/bootstrap-datepicker3/bootstrap-datepicker3.css' %}"/>

<script type="text/javascript">
    var Report = {
        'summarytraffic': '{% url "report:summarytraffic" %}',
        'range_title': 'Date: {{ context.startDate }} - {{ context.endDate }}'
    };

</script>

<style type="text/css">
    div.map_container{
        padding: 5px;
        background-color: rgba(63, 74, 84, 0.13);
    }
</style>

{% endblock %}

{% block navigation %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'report:hourlytraffic' %}">Hourly Traffic</a></li>
        <li class="active"><a href="{% url 'report:summarytraffic' %}">Summary Traffic</a></li>
        <li><a href="{% url 'report:volumetraffic' %}">Volume Traffic</a></li>
        <li><a href="{% url 'report:throughput' %}">Daily Traffic</a></li>
        <li><a href="{% url 'report:overshoot' %}">Overshoot</a></li>
        <li><a href="{% url 'report:io' %}">Import/Export</a></li>
    </ul>
{% endblock %}

{% block container %}

    <div class="well search-box" style="text-align: right">
        <label for="start_date" style="text-align: left">
            Start date <input value="{{ context.startDate }}"  id="start_date" class="span2 col-md form-control" name="startDate" placeholder=" YYYY-MM-DD " type="text">
        </label> &nbsp;&nbsp;
        <label for="end_date" style="text-align: left">
            End date <input value="{{ context.endDate }}" id="end_date" class="span2 col-md form-control" name="endDate" placeholder=" YYYY-MM-DD " type="text">
        </label>&nbsp;&nbsp;
        <label for="generate_report">
            &nbsp;<input id="generate_report" type="button" class="btn btn-primary span2 col-md form-control" value="Generate Report">
        </label>
    </div>

    <div  class="map_container" id="container_1" style="width:100%; height:400px;"></div>
    <div class="map_container" id="container_2" style="width:100%; height:400px;"></div>
    <div class="map_container" id="container_3" style="width:100%; height:400px;"></div>
    <div class="map_container" id="container_4" style="width:100%; height:400px;"></div>
    <div>&nbsp;</div>

{% endblock %}

{% block additional_footer %}
    <script type="text/javascript" src="{% static 'report/highchart/highstock5.0.11.js' %}"></script>
    <script type="text/javascript" src="{% static 'report/highchart/moduleexporting5.0.11.js' %}"></script>
    <script type="text/javascript" src="{% static 'report/js/summary_traffic.js' %}" > </script>
    <!-- bootstrap date picker javascript -->
    <script type="text/javascript" src="{% static 'report/bootstrap-datepicker3/bootstrap-datepicker.min.js' %}" > </script>

{% endblock %}
