{% extends "report/base.html" %}

{% load static %}

{% block additional_headers %}
    <link rel="stylesheet" href="{% static 'report/bootstrap-datepicker3/bootstrap-datepicker3.css' %}"/>
    <script type="text/javascript">
        var Report = {
            'hourlytraffic': '{% url "report:hourlytraffic" %}',
            'traffic': '{% url "report:traffic" %}'
        };
    </script>
{% endblock %}

{% block navigation %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'report:hourlytraffic' %}">Hourly Traffic</a></li>
        <li><a href="{% url 'report:summarytraffic' %}">Summary Traffic</a></li>
        <li><a href="{% url 'report:volumetraffic' %}">Volume Traffic</a></li>
        <li class="active"><a href="{% url 'report:volumetraffic' %}">Daily Traffic </a></li>
        <li><a href="{% url 'report:io' %}">Import/Export</a></li>
    </ul>
{% endblock %}

{% block container %}

    <div class="container1_hourlytraffic">
        <div  class="date_of_hourly_traffic" style="position:relative; float: right; margin-bottom: -50px; padding-right: 10px; z-index: 10">
            <label for="traffic_date" style="text-align: left">
                <input value=""  id="traffic_date" class="span2 col-md form-control" placeholder=" YYYY-MM-DD " type="text">
            </label>
            <label for="generate_report">
                &nbsp;<input map_type="hourly_traffic" type="button" class="generate_report btn btn-primary span2 col-md form-control" value="Generate Report">
            </label>
        </div>
        <div id="container_1" style="width:100%; height:400px;"></div>
    </div>
    <div id="container_2" style="width:100%; height:400px;"></div>



{% endblock %}

{% block additional_footer %}

    <script type="text/javascript" src="{% static 'report/highchart/highchart5.0.10.js' %}"></script>
    <!-- bootstrap date picker javascript -->
    <script type="text/javascript" src="{% static 'report/bootstrap-datepicker3/bootstrap-datepicker.min.js' %}" > </script>
    <script type="text/javascript" src="{% static 'report/js/traffic.js' %}" > </script>

{% endblock %}
