{% extends "newsite/base.html" %}

{% load static %}

{% block additional_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'newsite/css/style.css' %}" />
{% endblock %}


{% block navigation %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'newsite:new-site-plan' %}">Home</a></li>
        <li><a href="{% url 'newsite:search' %}">Search</a></li>
        <li class="active"><a href="#">About</a></li>
        <li><a href="{% url 'newsite:io' %}">Import/Export</a></li>
        <li><a href="{% url 'newsite:rehome' %}">Rehome</a></li>
    </ul>
{% endblock %}

{% block container %}
    <div class="page-header">
        <h3>Statistical analysis</h3>
    </div>

    <ul class="nav nav-tabs secondary_navigation">
        <li tab="gcell_data" class="active" ><a href="#">Gcell</a></li>
        <li tab="bts_ip_data" ><a href="#">BTS IP Data</a></li>
        <li tab="recently_planned" ><a href="#">Recent Plans</a></li>
    </ul>

    <div id="gcell_data" class="well well-lg nav_details">
        <ul>
            <li> Database Last Updated: {{ context.gcell.last_updated }} </li>
            <li> BSC No: {{ context.gcell.bsc_count }} </li>
            <li> Site No: {{ context.gcell.site_count }} </li>
            <li> Cell No: {{ context.gcell.cell_count }} </li>
        </ul>
    </div>

    <div id="bts_ip_data" class="well well-lg display_none nav_details">
        <ul>
            <li> Database Last Updated: {{ context.bts_ip_data.last_updated }} </li>
            <li> HW BSC No: {{ context.bts_ip_data.hw_bsc_count }} </li>
            <!-- <li> Site No: {{ context.bts_ip_data.hw_site_count }} </li> -->
        </ul>
    </div>

    <div id="recently_planned" class="well well-lg display_none nav_details">

        <table class="table">
            <thead>
                <tr>
                    {% for r in context.recently_panned.heads %}
                    <th> {{ r }} </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for r in context.recently_panned.plans %}
                <tr> <td>{{ r.cnpwr }}</td> <td>{{ r.sitename }}</td> <td>{{ r.coordinate }}</td> <td>{{ r.bsc }}</td> <td>{{ r.lac }}</td>  <td>{{ r.subrack_slot }}</td> <td>{{ r.date }}</td> <td>{{ r.user }}</td> </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}

{% block additional_footer %}
    <!-- javascript -->
    <script src="{% static 'newsite/js/about.js' %}"></script>
{% endblock %}