{% extends "newsite/base.html" %}

{% block navigation %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'newsite:new-site-plan' %}">Home</a></li>
        <li  class="active"><a href="#">Search</a></li>
        <li><a href="{% url 'newsite:about' %}">About</a></li>
        <li><a href="{% url 'newsite:io' %}">Import/Export</a></li>
    </ul>
{% endblock %}

{% block container %}
    <div class="page-header">
        <h3>2G Plan: Search</h3>
    </div>
{% endblock %}