{% extends "newsite/base.html" %}

{% load static %}

{% block navigation %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="{% url 'newsite:search' %}">Search</a></li>
        <li><a href="{% url 'newsite:about' %}">About</a></li>
        <li><a href="{% url 'newsite:io' %}">Import/Export</a></li>
        <li><a href="{% url 'newsite:rehome' %}">Rehome</a></li>
    </ul>
{% endblock %}

{% block container %}
    <div class="page-header">
        <h3>Welcome to new site planning</h3>
    </div>

    <div class="well well-lg">
        <h3>Instructions</h3>
        <ul>
            <li>Both xlsx & xls files are supported.</li>
            <li>Every cell might not have any garbage ( e.g #NA ) or empty values.</li>
            <li>Latitude, Longitude might have numerical values.</li>
            <li>PICO BTS: Automatically selects sites of Huawei BSC.</li>
            <li>Sample Files:
                <a href="{% static 'newsite/sample/Sample_Plan.xlsx' %}">Sample Plan</a>
            </li>
        </ul>
    </div>

    <p class="lead"><code> Upload Co-ordinate file and start your plan..  </code></p>

    <form action="{% url 'newsite:new-site-plan' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <table class="table-sm">
            <tr>
                <td>
                    <label class="custom-file">
                    <input class="custom-file-input btn" type="file" name="{{ form.file.name }}" ><span class="custom-file-control"></span>
                    </label>
                </td>
                <td>
                    &nbsp; &nbsp;
                </td>
                <td>
                    <input style="height: 100%" class="btn btn-primary" type="submit" value="Start Planning" />
                </td>
            </tr>
        </table>
        {{ form.plan_uploaded }}
    </form>
{% endblock %}