{% extends "newsite/base.html" %}

{% load static %}


{% block additional_headers %}

    <link rel="stylesheet" type="text/css" href="{% static 'newsite/css/style.css' %}" />
    <script type="text/javascript">
        //global variable to be used from newsite.js script
        var NewSitePlanIO = {
            'ajax_url': '{% url "newsite:io" %}',
            'static_url': '{% static "newsite/" %}'
        };
    </script>
{% endblock %}

{% block navigation %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'newsite:new-site-plan' %}">Home</a></li>
        <li><a href="{% url 'newsite:search' %}">Search</a></li>
        <li><a href="{% url 'newsite:about' %}">About</a></li>
        <li class="active"><a href="#">Import/Export</a></li>
        <li><a href="{% url 'newsite:rehome' %}">Rehome</a></li>
    </ul>
{% endblock %}

{% block container %}
<div class="page-header">
    <h3>Data Import & Export</h3>
</div>

<div class="well well-lg">
    <h3>Instructions for Import</h3>
    <ul>
        <li>Both xlsx & xls files are supported.</li>
        <li>Every cell might not have any garbage ( e.g #NA ) or empty values.</li>
        <li>Latitude, Longitude, TRX, Traffic columns of <strong>Gcell</strong> might have numeric values.</li>
        <li>BTS IP & BSC IP column of <strong>BTS IP Data</strong> might have Generic IPV4 address.</li>
        <li>Sample Files:
            <a href="{% static 'newsite/sample/Sample_Gcell.xlsx' %}">Sample Gcell</a> &
            <a href="{% static 'newsite/sample/Sample_IPPLAN.xlsx' %}">Sample IP Plan</a>
        </li>
        <li>Existing records will be deleted instantly before uploading</li>
    </ul>
    <h3>Instructions for Export</h3>
    <ul>
        <li>Please click on the links to download.</li>
        <li>  Downloads:
            <a target="_blank" href="{% url 'newsite:download' 'latlon' %}">Co-Ordinates</a>,
            <a target="_blank" href="{% url 'newsite:download' 'gcell' %}">GCELL</a>
        </li>
    </ul>
</div>

<div class="progress" style="display: none;">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
  aria-valuemin="0" aria-valuemax="100" style="width:30%">
    30%
  </div>
</div>



<div class="alert alert-success fade in display_none">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Gcell</strong>: <span id="success_message"> </span>
</div>

<p id="ajax_processing_message" class="lead display_none"><code> Please wait until success message  </code></p>

<form id="ioform" action="{% url 'newsite:io' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <table class="table-sm">
        <tr>
            <td>
                <label for="iofile" class="custom-file">
                    <input id="iofile" class="custom-file-input btn" type="file" name="{{ context.form.file.name }}">
                </label>
            </td>
             <td>
                <label for="id_type"> Type </label>
                    {{ context.form.type }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input id="submit_button" style="height: 100%" class="btn btn-primary" type="submit" value="Start Uploading" />
                <img id="upload_progress" class="display_none" alt="ajax_loader" src="{% static 'newsite/images/facebook.gif' %}" />
            </td>
        </tr>
    </table>
</form>

{% endblock %}

{% block additional_footer %}
    <!-- javascript -->
    <script src="{% static 'newsite/js/io.js' %}"></script>
    <script src="{% static 'newsite/js/lib/jquery-cookie.js' %}"></script>
    <script src="{% static 'newsite/js/lib/jquery.form.min.js' %}"></script>
{% endblock %}