{% extends "newsite/base.html" %}

{% load static %}

{% block additional_headers %}

    <link rel="stylesheet" type="text/css" href="{% static 'newsite/css/style.css' %}" />
    <script type="text/javascript">
        //global variable to be used from newsite.js script
        var NewSitePlan = {
            'ajax_url': '{% url "newsite:nearest-sites" %}',
            'static_url': '{% static "newsite/" %}'
        };
    </script>
{% endblock %}

{% block navigation %}

    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="{% url 'newsite:search' %}">Search</a></li>
        <li><a href="{% url 'newsite:about' %}">About</a></li>
       <li><a href="{% url 'newsite:io' %}">Import/Export</a></li>
        <li><a href="{% url 'newsite:rehome' %}">Rehome</a></li>
    </ul>

{% endblock %}

{% block container %}
    <form action="{% url 'newsite:new-site-plan' %}" method="post">
        {% csrf_token %}
        <table class="table table-hover">
            <thead class="thead-inverse">
                <tr> <th>CNP WR</th> <th>IPWave WR</th><th>Latitude</th><th>Longitude</th><th>Site</th><th>Nearest Site</th><th>Planned BSC</th><th>Planned LAC</th> <th>Distance ( miles )</th> </tr>
            </thead>
            <tbody table-hover>
                {% for ss in data %}
                <tr id="{{ ss.ipwavewr }}-{{ forloop.counter }}">
                    <td class="cnp_wr"> <input type="hidden" name="{{ form.cnp_wr.name }}" value="{{ ss.cnpwr }}"  >{{ ss.cnpwr }} </td>
                    <td class="ipwave_wr"> <input type="hidden" name="{{ form.ipwave_wr.name }}" value="{{ ss.ipwavewr }}"  > {{ ss.ipwavewr }} </td>
                    <td class="input_lat"> <input type="hidden" name="{{ form.lat.name }}" value="{{ ss.lat }}" > {{ ss.lat }} </td>
                    <td class="input_lon"> <input type="hidden" name="{{ form.lon.name }}" value="{{ ss.lon }}" > {{ ss.lon }} </td>
                    <td class="input_site"> <input type="hidden" name="{{ form.site.name }}" value="{{ ss.site }}" > {{ ss.site }} </td>
                    <td class="nearest_site"> {{ ss.nearest_site }} </td>
                    <td class="proposed_bsc"> <input type="hidden" name="{{ form.bsc.name }}" value="{{ ss.proposed_bsc }}"  > <span> {{ ss.proposed_bsc }} </span> </td>
                    <td class="proposed_lac"> <input type="hidden" name="{{ form.lac.name }}" value="{{ ss.proposed_lac }}"  > <span> {{ ss.proposed_lac }} </span> </td>
                    <td class="nearest_site_distance"> {{ ss.distance }} </td>
                    <td> <button name="{{ ss.ipwavewr }}-{{ forloop.counter }}" class="btn btn-default justify-individual-plan">Update </button> <img class="ajax_loader display_none" src="{% static 'newsite/images/facebook.gif' %}" /> </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="10"> <a href="{% url 'newsite:new-site-plan' %}"><input type="button" value="Upload another file" class="btn btn-link" /> </a>&nbsp; &nbsp; <input class="btn-primary btn" type="submit" value="Save and Download Plan" /></th>
                </tr>
            </tfoot>
        </table>
    </form>

    <div id="map"></div>
{% endblock %}

{% block additional_footer %}
    <!-- javascript -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGiluMgQFfw2abMSw4_KCEqNvxszjoQVk">
    </script>
    <script src="{% static 'newsite/js/map.js' %}"></script>
{% endblock %}