{% extends "newsite/base.html" %}

{% load static %}

{% block additional_headers %}

    <link rel="stylesheet" type="text/css" href="{% static 'newsite/css/style.css' %}" />
    <script type="text/javascript">
        //global variable to be used from rehome.js script
        var Rehome = {
            'ajax_url': '{% url "newsite:search" %}',
            'static_url': '{% static "newsite/" %}'
        };
    </script>
{% endblock %}

{% block navigation %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'newsite:new-site-plan' %}">Home</a></li>
        <li><a href="{% url 'newsite:search' %}">Search</a></li>
        <li><a href="{% url 'newsite:about' %}">About</a></li>
        <li><a href="{% url 'newsite:io' %}">Import/Export</a></li>
        <li class="active"><a href="#">Rehome</a></li>
    </ul>
{% endblock %}

{% block container %}

    <div id="rehome_data" class="well well-lg search-box">

        <strong>2G Plan: Rehome</strong>
        <ul>
            <li> From BSC: Valid BSC Name ( comma { , } separted for multiple BSCs ) </li>
            <li> To BSC: Valid BSC Name ( comma { , } separted for multiple BSCs ) </li>
        </ul>
        <form action="{% url 'newsite:rehome' %}" method="GET">
            <table class="table" style="width: 50%">
                <thead>
                    <tr>
                        <th><label for="{{ context.form.from_bsc.auto_id }}">From BSC </label></th>
                        <th><label for="{{ context.form.to_bsc.auto_id }}"> To BSC </label></th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input id="{{ context.form.from_bsc.auto_id }}" type="text" name="{{ context.form.from_bsc.name }}"></td>
                    <td><input id="{{ context.form.to_bsc.auto_id }}" type="text" name="{{ context.form.to_bsc.name }}"></td>
                    <td><input class="btn btn-primary" type="button" value="Load Sites"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

{% endblock %}

{% block additional_footer %}
    <!-- javascript -->

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGiluMgQFfw2abMSw4_KCEqNvxszjoQVk">
    </script>
    <script src="{% static 'newsite/js/rehome.js' %}"></script>
{% endblock %}