<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap styling -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'process/bootstrap3.3.7/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'process/bootstrap3.3.7/themes/sticky-footer-navbar/sticky-footer-navbar.css' %}" />
    <link rel="shortcut icon" href="{% static 'process/images/favicon.ico' %}" type="image/x-icon">
    <title>{{ context.title }}</title>

    {% block additional_headers %}
    {% endblock %}

</head>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Processor</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            {% block navigation %}
            {% endblock %}

             <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li> <a href="#"><span class="glyphicon">Howdy </span></a></li>
                    <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{ user }}
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Admin Site</a></li>
                      <li><a href="#">Change password</a></li>
                      <li><a href="#">Logout</a></li>
                    </ul>
                  </li>
                {% else %}
                    <li><a href="#"><span class="glyphicon"></span> Already have an account?</a></li>
                    <li><a href="{% url 'login' %}?next={{ request.path }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}

            </ul>


        </div><!--/.nav-collapse -->
      </div>
    </nav>
   <!-- End Navbar -->


    <!-- Begin page content -->
    <div class="container">
        {% block container %}
        {% endblock %}
    </div>


    <footer class="footer">
      <div class="container">
        <p class="text-muted">Copyright @ CNP, Grameenphone, 2017</p>
      </div>
    </footer>


    <script src="{% static 'newsite/js/jquery3.1.1.min.js' %}"></script>
    <!-- Bootstrap jquery file -->
    <script src="{% static 'process/bootstrap3.3.7/js/bootstrap.min.js' %}"></script>

    {% block additional_footer %}
    {% endblock %}

  </body>

</html>