{% extends "process/base.html" %}
{% load static %}

{% block additional_headers %}

    <link rel="stylesheet" type="text/css" href="{% static 'process/css/style.css' %}" />
    <script type="text/javascript">
        //global variable to be used from newsite.js script
        var AjaxProces = {
            'ajax_url': '{% url "process:ajax-process" %}',
            'static_url': '{% static "process/" %}'
        };
    </script>
{% endblock %}

{% block navigation %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'process:mml-process' %}">MML</a></li>
        <li><a href="{% url 'process:citrix-process' %}">CITRIX</a></li>
    </ul>
{% endblock %}

{% block container %}
<div class="page-header">
    <h3> MML Output Processor ( MGW ) </h3>
</div>

<div class="well well-lg">
    <h3>Instructions for Parsing</h3>
    <ul>
        <li>Only .xlsx file is upported</li>
        <li>You may get wrong result, if you don't take the license file properly</li>
         <li>Sample Files:
            <a target="_blank" href="{% static 'process/sample/MGW.xlsx' %}">Sample Format</a>
        </li>

    </ul>
</div>

<form id="ioform" action="{% url 'process:mml-process' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <table class="table-sm">
        <tr>
             <td>
                <label for="id_type"> Type </label>
                    {{ form.type }}
            </td>

            <td>
                <label for="iofile" class="custom-file">
                    <input id="iofile" class="custom-file-input btn" type="file" name="{{ form.file.name }}">
                </label>
            </td>

             <td colspan="2">
                <input id="submit_button" style="height: 100%" class="btn btn-primary" type="button" value="Start Parsing" />
                <input id="save_button" style="height: 100%" class="btn btn-primary display_none" type="button" value="Save Results" />
                <img id="upload_progress" class="display_none" alt="ajax_loader" src="{% static 'process/images/facebook.gif' %}" />
            </td>

        </tr>

    </table>
</form>
<p id="ajax_processing_message" class="lead display_none"><code> Please wait until success message  </code></p>

<br/>
<div class="result_shown_form display_none">
    <form method="post" id="overshoot_save_form" action="{% url 'process:mml-process' %}">
        {% csrf_token %}
       <table class="table table-striped">
            <thead class="thead-inverse">
                <tr class="info">
                    <th>#</th><th>Node Name</th> <th>License Overshoots</th>
                </tr>
            </thead>
            <tbody id="overshoot_donwload"></tbody>
        </table>
    </form>
</div>


{% endblock %}

{% block additional_footer %}
    <!-- javascript -->
    <script src="{% static 'process/js/lib/jquery-cookie.js' %}"></script>
    <script src="{% static 'process/js/lib/jquery.form.min.js' %}"></script>
    <script src="{% static 'process/js/index.js' %}"></script>
{% endblock %}