{% extends "process/base.html" %}
{% load static %}

{% block additional_headers %}

    <link rel="stylesheet" type="text/css" href="{% static 'process/css/style.css' %}" />

{% endblock %}

{% block navigation %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'process:mml-process' %}">MML</a></li>
        <li><a href="{% url 'process:citrix-process' %}">CITRIX</a></li>
    </ul>
{% endblock %}

{% block container %}
<div class="page-header">
    <h3> MML Output Processor ( MGW ) </h3>
</div>

<div class="well well-lg">
    Data Saved successfully
    <p>
        <a href="{% url 'process:mml-process' %}" value="Processor"> Back to Processor </a> &nbsp;
        <a href="{% url 'report:overshoot' %}" value="Overshoot" > Overshoot Map </a>
    </p>
</div>

{% endblock %}
