.display_none{
    display: none;
}

.processing{
   cursor: wait;
}


div.row-container{
    padding: 10px;
    border: 1px solid #c3dcb6;
    border-radius: 6px;
    box-sizing: border-box;
}

.importer{
    border-right: 1px dotted green;
}

td, th{
    text-align: center;
}