#map{
    height: 600px;
    width: 100%;
    margin: 20px 0px 100px 0px;
    padding: 50px;
}

.display_none{
    display: none;
}

.processing{
   cursor: wait;
}


div.row-container{
    padding: 10px;
    border: 1px solid #c3dcb6;
    border-radius: 6px;
    box-sizing: border-box;
}

.importer{
    border-right: 1px dotted green;
}