<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap styling -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'log/bootstrap3.3.7/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'log/bootstrap3.3.7/themes/sticky-footer-navbar/sticky-footer-navbar.css' %}" />
    <link rel="shortcut icon" href="{% static 'log/images/favicon.ico' %}" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
    <title>{{ context.title }}</title>

    {% block additional_headers %}
    {% endblock %}

</head>
    <!-- Begin page content -->
    <div class="container">
        {% block container %}
        {% endblock %}
    </div>


    <footer class="footer">
      <div class="container">
        <p class="text-muted">Copyright @ CNP, Grameenphone, 2018-2019</p>
      </div>
    </footer>

    {% block additional_footer %}
    {% endblock %}
    <!-- Bootstrap jquery file -->
    <script src="{% static 'log/bootstrap3.3.7/js/bootstrap.min.js' %}"></script>

  </body>

</html>