{% extends "log/base.html" %}
{% load static %}

{% block additional_headers %}
     <link rel="stylesheet" type="text/css" href="{% static 'log/css/log.css' %}" />
{% endblock %}


{% block container %}
    <div class="page-header">
        <h3>Greetings from CNP Core Planning</h3>
    </div>

    <div class="sitemap_container">

        <div class="sitemap">
            <h4 class="comic">2G New Site Planning</h4>
            <ul>
                <li><a target="_blank" href="{% url 'newsite:new-site-plan' %}">Home</a></li>
                <li><a target="_blank" href="{% url 'newsite:search' %}">Search</a></li>
                <li><a target="_blank" href="{% url 'newsite:about' %}">About</a></li>
                <li><a target="_blank" href="{% url 'newsite:io' %}">Import/Export</a></li>
                <li><a target="_blank" href="{% url 'newsite:rehome' %}">Rehome</a></li>
            </ul>
        </div>

        <div class="sitemap">
            <h4 class="comic">3G New Site Planning</h4>
            <ul>
                <li><a target="_blank" href="{% url 'nodeb:nodeb-plan' %}">Home</a></li>
                <li><a target="_blank" href="{% url 'nodeb:search' %}">Search</a></li>
                <li><a target="_blank" href="{% url 'nodeb:about' %}">About</a></li>
                <li><a target="_blank" href="{% url 'nodeb:io' %}">Import/Export</a></li>
            </ul>
        </div>

        <div class="sitemap">
            <h4 class="comic">Reporting</h4>
            <ul>
                <li><a target="_blank" href="{% url 'report:hourlytraffic' %}">Hourly Traffic</a></li>
                <li><a target="_blank" href="{% url 'report:summarytraffic' %}">Summary Traffic</a></li>
                <li><a target="_blank" href="{% url 'report:volumetraffic' %}">Volume Traffic</a></li>
                <li><a target="_blank" href="{% url 'report:throughput' %}">Daily Traffic</a></li>
                <li><a target="_blank" href="{% url 'report:overshoot' %}"> Overshoots </a></li>
                <li><a target="_blank" href="{% url 'report:io' %}">Import/Export</a></li>
            </ul>
        </div>

        <div class="sitemap">
            <h4 class="comic">IGW Reporting</h4>
            <ul>
                <li><a target="_blank" href="{% url 'igw:dashboard' %}">Dashboard</a></li>
                <li><a target="_blank" href="{% url 'igw:iig' %}">IIG</a></li>
                <li><a target="_blank" href="{% url 'igw:ix' %}">BdIx & Novonix</a></li>
                <li><a target="_blank" href="{% url 'igw:io' %}">Import/Export</a></li>
            </ul>
        </div>

        <div class="sitemap">
            <h4 class="comic">Processors</h4>
            <ul>
                <li><a target="_blank" href="{% url 'process:mml-process' %}">MGW Overshoots Calculation</a></li>
                <li><a target="_blank" href="{% url 'process:citrix-process' %}">Ericsson Cell Data Preparing</a></li>
            </ul>
        </div>

    </div>

{% endblock %}
