{% extends "log/base.html" %}
{% load static %}

{% block container %}

    <div class="page-header">
        <h3>For login credentials, please communicate with CNP</h3>
    </div>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>


        <button type="submit" class="btn btn-primary">Login</button>
    </form>


{% endblock %}
